@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,700;0,900;1,500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
/* Cores utilizadas */

:root {
    --Corneutra: #ffff;
    --CorPrincipal: #146057;
    --CorPrincipalEscura: #164a44;
    --CorSecundaria: #fe8340;
}

main {
    margin: 8rem;
}